<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user">SOSMED</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SOSMED</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user">Feeds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user/tags">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user/account">Account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sort By
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/id">Newest Post</a></li>
                            <li><a class="dropdown-item" href="/user/UserId">Newest User</a></li>
                            <li><a class="dropdown-item" href="/user/TagId">Tag</a></li>
                        </ul>
                    </li>
                    <form action="/user" method="get">
                        <label class="nav-link" aria-current="page">Search Post Title</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Find Title"
                                ria-describedby="button-addon2" name="filter">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                        </div>
                    </form>
                </ul>
                <a class="nav-link" style="position: absolute; bottom: 0; margin-bottom: 10vh;" href="/logout">Log
                    Out</a>
            </div>
        </div>
    </div>
</nav><br><br><br>